{% extends "admin/base_site.html" %}
{% load static i18n %}

{# Setup favicon #}
{% block extrahead %}
    <link rel="shortcut icon" type="image/ico" href="{% static 'logo/drop_transparent.ico' %}"/>
{% endblock %}

{# Setup browser tab label #}
{% block title %}{{ title }} |  {% trans "Gota" %}{% endblock %}

{# Setup branding #}
{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            <img
                    src="{% static 'logo/drop_transparent.png' %}"
                    alt="Gota"
                    height="50%"
                    width="50%"
            >
            <br><br>
            </span> {% trans "Gota" %}
            <br><br>
            </span> {% trans "The operating system for the smart kitchen." %}
        </a>
    </h1>
{% endblock %}