[flake8]
max-line-length = 160
exclude = */migrations/*
per-file-ignores =
    __init__.py: F401, F403
    backend/settings/settings.py: F401, F403
    core/api/views/match_views.py: C901
    src/core/api/views/match_views.py: C901

max-complexity = 10
